.sidebar {
	max-width: 256px;
}

.sidebar,.image {
	float: left;
}

.image-clear {
	clear: left;
}

.name {
	font-weight: bold;
}

.meta, .meta a {
	color: gray;
}

.meta a:link, a:visited {
	text-decoration: none;
}

.meta a:hover, .meta a:active {
	text-decoration: underline;
}

.content {
	display: block;
	overflow: hidden;
}

.result {
	overflow: hidden;
}
