.sidebar {
	max-width: 256px;
}

.sidebar,.tweet-image {
	float: left;
}

.tweet-retweeted {
	color: gray;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 32px;
}

.tweet-image-clear {
	clear: left;
}

.tweet-header-name, .tweet-header-name a {
	color: black;
	font-size: medium;
	font-weight: bold;
}

.tweet-header-meta, .tweet-header-meta a {
	color: gray;
}

.tweet-text, .tweet-text a {
	color: black;
	font-size: medium;
}

.tweet a:link, .tweet a:visited {
	text-decoration: none;
}

.tweet a:hover, .tweet a:active {
	text-decoration: underline;
}

.tweet {
	border-bottom: solid thin gray;
	margin: 0px;
}

.tweet-content {
	display: block;
	overflow: hidden;
}

#result {
	border: solid thin gray;
	overflow: hidden;
}

.form-exclude-source-show {
	display: block;
}

.form-exclude-source-close {
	display: none;
}

#form-exclude-open {
	cursor: pointer;
}

#form-update {
	margin-top: 8px;
	margin-bottom: 8px;
}
