.sidebar {
	max-width: 256px;
}

.sidebar,.tweet-image {
	float: left;
}

.tweet-image-clear {
	clear: left;
}

.tweet-header-name, .tweet-header-name a {
	color: black;
	font-weight: bold;
}

.tweet-header-meta, .tweet-header-meta a {
	color: gray;
}

.tweet-header-meta a:link, .tweet-header-meta a:visited {
	text-decoration: none;
}

.tweet-header-meta a:hover, .tweet-header-meta a:active {
	text-decoration: underline;
}

.tweet-content {
	display: block;
	overflow: hidden;
}

.result {
	overflow: hidden;
}
